<!--
    Amanda Williams
    January 18, 2019
    home page view
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <script src="bootstrap/jquery.slim.min.js"></script>
    <script src="bootstrap/popper.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/home.css">

    <title>Dog Dating Site</title>
</head>

<body>

<nav class="rounded">
    <a href="admin" class="btn btn-info rounded float-right">ADMIN</a>
    <h3>My Dating Website</h3>
</nav>

<div class="container">

    <div class="row">
        <div class="col-sm-7 col-lg-5 rounded content">
            <h1>Wag n' Play</h1>

            <p>People find love everywhere and nowhere and this is a website for people to find some
                form of relationship. Lets keep typing more filler and please like and subscribe
                for more videos in the future.
            </p>
            <p>Dogs however are the best and deserve all the love. Such doggos are
            loveable and floofy and cutsy floofers.
            </p>

            <h3>Here's what our users are saying!</h3>
            <ul>
                <li>"Bark bark AWOOOOOOOOOOH!!"-Shorthaired German Pointer</li>
                <li>"Yip yip yipYIP!!"-Pomeranian</li>
                <li>"WOOF!!"-Bernese Mountain Dog</li>
                <li>"Ruffruffruffruffruff!!"-Dachshund</li>
            </ul>

            <form method="get" action="personalInfo">
                <input class="btn btn-info" type="submit" value="Find love for your dog!">
            </form>

        </div>

        <div class="col-sm-4 col-lg-6">
            <img class="rounded responsive" src="images/pose.gif" alt="Dog Couple"/>
        </div>
    </div>


</div>


</body>
</html>