<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <title>Dating Site</title>
</head>
<body class="bg-info">
<div class="container-flex">
    <div class="row">
        <div class="col-sm">
            <img src="images/homeCouple.jpg" alt="Happy couple"/>
        </div>
        <div class="col-sm bg-white">
            <h1>Dating Site</h1>

            <p>People find love everywhere and nowhere and this is a website for people to find some
                form of relationship. Lets keep typing more filler and please like and subscribe
                for more videos in the future.</p>
        </div>
    </div>

</div>

<script src="bootstrap/bootstrap.min.js"></script>
<script src="bootstrap/jquery.slim.min.js"></script>
<script src="bootstrap/popper.min.js"></script>

</body>
</html>