<!--
    Amanda Williams
    January 30, 2019
    328/dating/views/personal-information.html
-->

<!--
0123345678901233456789012334567890123345678901233456789012334567890123345678901233456789

****************************************************************************************
80 characters
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <script src="bootstrap/jquery.slim.min.js"></script>
    <script src="bootstrap/popper.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/personal-information.css">

    <title>Personal Information</title>
</head>

<body>
<h1>Personal Information</h1>
<hr>
<!--
****************************************************************************************
-->
<div class="container rounded">
    <form method="post" action="profile">
        <div class="row">
        <div class="col-7 rounded content">
            <fieldset>
                <label>First Name<br>
                    <input type="text" name="firstName" id="firstName" value="{{ @firstName }}">
                </label><br>
                <span class="invalidWarning">
                    {{ @errorFirstName }}
                </span><br>

                <label>Last Name<br>
                    <input type="text" name="lastName" id="lastName" value="{{ @lastName }}">
                </label><br>
                <span class="invalidWarning">
                    {{ @errorLastName }}
                </span><br>

                <label>Age<br>
                    <input type="text" name="age" id="age" value="{{ @age }}">
                </label><br>
                <span class="invalidWarning">
                    {{ @errorAge }}
                </span><br>

                <fieldset>
                    <label>Gender</label><br>
                    <label>
                        <input type="radio" name="gender" value="male" id="male">
                        Male
                    </label>
                    <label>
                        <input type="radio" name="gender" value="female" id="female">
                        Female
                    </label>
                </fieldset>
                <br>

                <label>Phone Number<br>
                    <input type="tel" id="phoneNum" name="phoneNum"
                           pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                           required>
                    <!--
                    <input type="text" name="phoneNum" id="phoneNum">
                    -->
                </label><br>
                <span class="invalidWarning">
                    {{ @errorPhone }}
                </span><br>

            </fieldset>
        </div><!--end column-->
<!--
****************************************************************************************
-->
        <div class="col-4 table">
            <div class="warning-note rounded">
                <p><strong>Note:</strong> All information entered is protected by our
                    <a href="#">privacy policy</a>. Profile information can only be
                    viewed by others with your permission.</p>
            </div>
            <div class="warning-note rounded">
                <p><strong>Note:</strong> please only enter numbers
                    for the phone number. No parenthesis, hyphens or spaces.
                    <br>Ex: 1112223333
                </p>
            </div>
            <!--Amanda why do you suck at coding?-->
            <input class="btn btn-info float-right" type="submit" value="Next >">
        </div><!--end column-->
        </div><!--end row-->
    </form>
</div>

</body>
</html>