<!--
    Amanda Williams
    January 30, 2019
    328/dating/views/interests.html
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <script src="bootstrap/jquery.slim.min.js"></script>
    <script src="bootstrap/popper.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>

    <link rel="stylesheet" href="styles/styles.css">

    <title>Profile</title>
</head>
<!--
****************************************************************************************
-->
<body>
<h1>Profile</h1>
<hr>

<div class="container rounded">
        <form method="post" action="interests">
            <div class="row ">
                <div class="col-5 rounded content">
                    <fieldset>
                        <label>Email<br>
                            <input type="text" name="email" id="email">
                        </label><br>

                        <label>State<br>
                            <select name="state" id="state">
                                <repeat group="{{ @states }}" value="{{ @state }}">
                                    <option value="{{ @state}}">{{ @state }}</option>
                                </repeat>
                            </select>
                        </label><br>

                        <fieldset>
                            <label>Seeking</label><br>
                            <label>
                                <input type="radio" name="seeking" value="borker" id="borker">
                                Borker
                            </label>
                            <label>
                                <input type="radio" name="seeking" value="moon-moon" id="moon-moon">
                                Moon Moon
                            </label>
                        </fieldset><br>
                    </fieldset>
                </div><!--end col-5-->
<!--
****************************************************************************************
-->
                <div class="col-6 rounded content">
                    <label>Biography<br>
                        <textarea name="biography"
                                  cols="30" rows="5"></textarea>
                    </label><br>
                    <input class="btn btn-info float-right" type="submit" value="Next >">
                </div><!--end col-6-->
            </div><!--end row-->

        </form>
</div><!--end container-->
</body>
</html>