<!--
    Amanda Williams
    January 30, 2019
    328/dating/views/interests.html
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../bootstrap/bootstrap.min.css">

    <title>Profile</title>
</head>

<body>
<h1>Profile</h1>

<script src="../bootstrap/bootstrap.min.js"></script>
<script src="../bootstrap/jquery.slim.min.js"></script>
<script src="../bootstrap/popper.min.js"></script>
</body>
</html>